<!-- <div class="wrapper">

    <div>
      <label for="name" class="label">Email</label>

      <input type="email" name="email" id="email" placeholder="Email *" required class="input-field">
    </div>

    <div style="background: red; width: 100px ; height: 40px;">
      <label for="email" class="label">Password </label>

      <input type="password" name="password" id="password" placeholder="Password *" required class="input-field">
    </div>
    <a routerLink="/contact" class="btn btn-primary">Login</a>

  </div> -->


  <main>
    <article>

      <!-- 
        - #CONTACT
      -->

      <section class="section contact has-bg-image" aria-labelledby="contact-label"
        style="background-image: url('./assets/images/contact-bg.png')">
        <div class="container">

          <form action="" class="contact-form">

            <h2 class="headline-sm" id="contact-label">Login</h2>

            <div class="wrapper">

              <div>
                <label for="name" class="label">Email</label>

                <input type="text" name="name" id="name" placeholder="Name *" required class="input-field">
              </div>

              <div>
                <label for="email" class="label">Password </label>

                <input type="password" name="email" id="email" placeholder="Email *" required class="input-field">
              </div>

            </div>
            <a routerLink="/contact" class="btn btn-primary">Login</a>

            <!-- <label for="subject" class="label">Subject</label>
            <input type="text" name="subject" id="subject" placeholder="Subject *" class="input-field">

            <label for="message" class="label">Your message </label>
            <textarea name="message" id="message" placeholder="Your message *" required class="input-field"></textarea>

            <a href="#" class="btn btn-tertiary">Send Message</a> -->

          </form>

          <div class="contact-content">

            <ul class="contact-list">

              <li class="contact-item">

                <div class="item-icon" style="background-color: hsl(177, 39%, 72%)">
                  <ion-icon name="call" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <p class="label-lg">Phone</p>

                  <a href="tel:+254795349039" class="body-lg">+254795349039</a>
                </div>

              </li>

              <li class="contact-item">

                <div class="item-icon" style="background-color: hsl(41, 99%, 64%)">
                  <ion-icon name="mail" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <p class="label-lg">Mail</p>

                  <a href="tel:shaphankirui@gmail.com" class="body-lg">shaphankirui@gmail.com</a>
                </div>

              </li>

              <li class="contact-item">

                <div class="item-icon" style="background-color: hsl(19, 97%, 85%)">
                  <ion-icon name="location" aria-hidden="true"></ion-icon>
                </div>

                

              </li>

            </ul>

          </div>

        </div>
      </section>

    </article>
  </main>